{% assign post = include.post %}

<div class="py-4" id="post-list">
  <a href="{{ post.url }}" class="link-body-emphasis link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
    {% if post.image %}
      <div class="post-hero-container mb-2" style="height: 350px;">
        <div 
          style="background-image: url('{{ post.image | relative_url }}');" 
          class="img post-hero h-100">
        </div>
      </div>
    {% endif %}
    <span class="fs-3 fw-semibold">{{ post.title }}</span>
  </a>
  <p class="mt-0 mb-1">
    {{ post.excerpt | strip_html }}
  </p>
</div>

<hr class="my-1" />