{% assign p = include.publication %}

<div class="p-3 rounded-2 bg-light border border-dark-subtle">
  <p class="mt-0 mb-1">
    <a 
      href="{{ p.url | relative_url }}" 
      class="fs-5 fw-medium link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover">
      {{ p.title }}
    </a>
  </p>
  <div class="text-body-secondary">
    {% include publication_author.html authors=p.authors%}
    {% include publication_venue.html venue=p.venue %}
    {% include publication_status_badge.html publication=pub %}
  </div>
</div>