{% assign all_publications = include.publications %}

{% if include.publications == nil %}
  {% assign all_publications = site.publications %}
{% endif %}

{% if all_publications.size > 0 %}
  {% assign groups = all_publications | group_by: 'year' | sort: 'name' | reverse %}
  {% assign c = 1 %}
  {% for group in groups %}
    {% assign publications = group.items | sort: 'date' | reverse %}
    <p><b>{{ group.name }}</b></p>
    <ol class="font-sans" start="{{ c }}">
      {% for pub in publications %}
        {% assign n = pub.authors | split: ',' | first | strip %}
        <li class="mt-3">
          <a 
            class="link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            href="{{ pub.url }}">{{ pub.title }}</a>
          <div class="mt-0 pt-0">
            <i class="fa-solid fa-user-group fa-sm text-body-secondary"></i> <span class="me-1">{{ n }} et al.</span>
            <i class="fa-solid fa-book text-body-secondary"></i> <span>{{ pub.venue | venue_name }}</span>
          </div>
          <div class="mt-0 pt-0">
            {% include publication_status_badge.html publication=pub %}
          </div>
        </li>
      {% endfor %}
    </ol>
    {% assign c = c | plus: publications.size %}
  {% endfor %}
{% else %}
  <i>No publications found.</i>
{% endif %}
