---
layout: page
---

{% assign title = page.shorttitle | default: page.title %}
{% assign striped_content = page.content | strip | strip_html | strip_newlines %}

<div class="pt-3 pb-5 page-content">
  <p class="fs-3 mb-1">{{ page.title }}</p>

  <p class="text-secondary-emphasis mb-1">{{ page.authors }}</p>

  <p class="text-muted mb-1">{{ page.venue | venue_name }}</p>

  <p class="text-secondary mb-1"><i class="far fa-clock fa-sm"></i> {{ page.year }}</p>

  {% include publication_status_badge.html publication=page %}

  <div class="row mt-3">
    <div class="col">
      {% capture pub_buttons %}
        {% include publication_access_buttons.html %}
      {% endcapture %}

      {% assign pub_buttons = pub_buttons | strip %}

      {% if pub_buttons.size > 0 %}
        <p 
          class="border-bottom text-uppercase fw-light fs-6 mb-2" 
          style="letter-spacing: 0.2rem;">
          Access
        </p>
        {{ pub_buttons }}
      {% endif %}
      

      {% if page.doi %}
        <p 
          class="border-bottom text-uppercase fw-light fs-6 mb-2 mt-3"
          style="letter-spacing: 0.2rem;">
          Share
        </p>
        {% include share_buttons.html %}
      {% endif %}
    </div>
    
    {% if page.altimetric.enabled or page.dimensions.enabled %}
      <div class="col-lg-auto">
        <p 
          class="border-bottom text-uppercase fw-light fs-6 mb-2"
          style="letter-spacing: 0.2rem;">
          Citations
        </p>
        <div id="external-citations-badges" class="d-flex gap-4">
          {% if page.altmetric.enabled %}
            <div>
              {% include publication_altmetric_badge.html %}
            </div>
          {% endif %}
          {% if page.dimensions.enabled %}
            <div>
              {% include publication_dimensions_badge.html %}
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>

  <script type="text/javascript">
    window.addEventListener('load', () => {
      const empty = [
        document.querySelector('span.__dimensions_badge_embed__'),
        document.querySelector('div.altmetric-embed'),
      ].map(e => e?.childElementCount === 0).every(Boolean)
      if (empty) {
        document.getElementById('external-citations-badges')?.parentElement?.remove()
      }
    })
  </script>




  
  {% if page.abstract %}
    <h1>Abstract</h1>
    <div class="text-justify font-serif">
      {{ page.abstract | markdownify }}
    </div>
  {% endif %}







  {% unless striped_content == empty %}
    <h1>Online material</h1>
    <article id="post-content" class="text-justify font-serif">
      {{ content }}
    </article>
  {% endunless %}





  {% if page.files %}
    <h2>Files</h2>
    {% assign resources = page.files | map: 'resource' | uniq %}
    {% for res in resources %}
      {% assign files = page.files | where: 'resource', res %}
      <p class="fw-bold font-sans fs-5 mb-0">{{ res }}</p>
      {% for file in files %}
        {% include download.html name=file.name url=file.url %}
      {% endfor %}
    {% endfor %}
  {% endif %}





  {% include references.html icon=false %}





  {% if page.bibtex %}
    <h1>Citation</h1>
    {% highlight bibtex %}{{ page.bibtex }}{% endhighlight %}
  {% endif %}





  {% if page.members and page.members.size > 0 %}
    <h1>Related Members</h1>
    {% for member in page.members %}
      {% include member_pill.html member=member %}
    {% endfor %}
  {% endif %}
  



  {% if site.disqus %}
    <div class="mt-5 pt-3 mb-2">
      {% include disqus.html %}
    </div>
  {% endif %}
</div>